@model ProjectManager.Application.DataTransferObjects.ProjectCollaborator.CollaboratorModalDataDto

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Transfer</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        Are you sure you want to transfer this project to @Model.CollaboratorUserName
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        @using (Ajax.BeginForm("TransferProject", "ProjectCollaborators", new AjaxOptions
        {
            HttpMethod = "POST",
        }, new { enctype = "multipart/form-data", id = "projectForm" }))
        {

            @Html.Hidden("projectId", Model.ProjectId)
            @Html.Hidden("collaboratorUserName", Model.CollaboratorUserName);

            <button type="submit" class="btn btn-danger" data-bs-dismiss="modal" onclick="GetCollaborators(1, @Model.ProjectId)">Transfer</button>
        }
    </div>
</div>

