#images {
    width: 90%;
    position: relative;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

    #images figure {
        width: calc(50% - 10px);
        margin-bottom: 20px;
        text-align: center;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        aspect-ratio: 1;
    }

    #images img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

figcaption {
    display: none;
}

.upload-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    height: 100%;
}

.upload-icon {
    font-size: 30px;
    font-weight: bold;
}

#imageModal .modal-dialog {
    width: 80%;
    margin: auto;
    max-width: 100%;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#imageModal .modal-content {
    width: auto;
    height: auto;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#modalImage {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: red;
    color: white;
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 1;
    cursor: pointer;
}

.custom-dropdown option[value="Select State"] {
    color: #666;
    font-style: italic;
    display: none;
}


.square-image-container {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5em;
}

.square-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

figcaption {
    display: none;
}

.custom-primary {
    margin: 5px;
}

.custom-label-upload {
    width: 11.7em;
}